
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
    font-family: 'Paytone', sans-serif;
}

body {
    background: url(img/terraces.jpg);
}

.Intro .About {
    justify-content: center;
    text-align: justify;
    text-decoration: none;
    position:absolute;
    top: 90px;
    left: 30px;
    bottom: 20px;
    margin: 12px;
}

.Intro h1 {
    font-size: 95px;
    color: rgb(252, 251, 253);
    font-weight: 100%;
    margin-bottom: 0px;
}

.Intro i {
    font-size: 13px;
    position: absolute;
    bottom: 12px;
    top: 40%;
    margin-left: 10px;
    color: rgb(247, 244, 240);
}

.parrot {
    position: absolute;
    width: 60px;
    top: 15px;
    margin-left: 12px;

}

.parrot-name {
    color: rgb(235, 231, 229);
    position: absolute;
    bottom: 89%;
    left: 75px;
    margin-bottom: 18px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', Bold
}

.nav {
    position: absolute;
    justify-content: left;
    top: 0px;
    margin-left: 30%;
    text-decoration: none;
}

.nav .navigation {
    padding: 12px 10px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
}

.navigation .navy{
    color: rgb(254, 254, 254);
    padding: 2px 17px;
    position: relative;
    top: 12px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.navigation .navy:hover{
    color: black;
    text-decoration:dotted;
    margin-bottom: 12px;
}

.Explore {
    background: #3e2d23;
    width: 190px;
    height: 55px;
    border-radius: 15px;
    outline: transparent;
    border: none;
    outline: none;
    position: absolute;
    bottom: 20%;
    margin-left: 40px;
    color: white;
    font-size: larger;
    transition: all 0.4s ease-in-out;
    display: inline;
    overflow: hidden;
}


.Explore:after {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 100%;
    top: 0;
    bottom: 0;
    background: rgba(25, 21, 21, 0.445);
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.Explore:hover::after,
.Explore:focus::after,
.Explore:active::after {
    right: 0;
    left: 0;
}   

.Explore .arrow {
    fill: white;
    position: inherit;
    margin-left: 5px;
}

.left-right {
    position: absolute;
    fill: rgba(245, 222, 179, 0.491);
    bottom: 80px;
    right: 260px;
    width: 80px;
    display: flex;
}

.left-right .right {
    position: absolute;
    left: 40px;
}

.left-right .right:hover {
    background: transparent;
    border-radius: 10px;
    width: 20px;
}

.left-right .left:hover {
    background-color: transparent;
    border-radius: 10px;
    width: 20px;
}

.images .first-card{
   border-radius: 20px;
   overflow: hidden;
   position: absolute;
   margin-left: 600px;
   bottom: 25%;
   height: 50%;
}

.first-card .bookmark {
    position: inherit;
    right: 15px;
    fill: bisque;
    top: 12px;
}

.images .Description b {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    position: absolute;
    left: 40px;
    top: 5%;
}

.second-card img {
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    left: 70%;
    top: 25%;
}

.bookmark

.images .Describe-second b {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    position: absolute;
    left: 74%;
    top: 27%;
}